html {
  scroll-behavior: smooth;
  background-color: #f9fafb;
  color: #444444;
}

.text-white {
  color: #ffffff;
}
.text-dark {
}
.home {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  justify-content: space-between;
}

a {
  color: #444444;
}
p {
  line-height: 1.6rem;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  background: #444444;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.back-to-top:hover {
  background: #525252;
}

@media only screen and (max-width: 1200px) {
  .home {
    width: 80%;
  }
}

@media only screen and (max-width: 512px) {
  .home {
    width: 80%;
  }
}
